


.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 99%;
  outline: 2px solid black;
}

#display {
  margin-bottom: 100px;
  outline: 2px solid red;
  font-size: 24px;
}

#keys {
  display: flex;
  flex-direction: row;
  font-size: 60px;
}

.drum-pad {
  margin:0 1rem;
  outline: 1px solid black;
  padding-left: 25px;
  padding-right: 25px;
}

.drum-pad:hover {
  cursor: pointer;
}